.parent{
    border: 2px solid black;
    height: 500px;
    width: 50%;
    display: flex;
    /* justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    justify-content: space-around;
    justify-content: space-between;
    align-items: start;
    flex: wrap; */
    /* flex-shrink: 1; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    

.child{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    background-color: brown;  
}
/* .b{
    flex-grow: 1;
}
.c{
    flex-wrap: 2;
} */